.fs-7 {
    font-size: 0.95rem!important;
}

.fs-8 {
    font-size: 0.90rem!important;
}

.fs-9 {
    font-size: 0.85rem!important;
}

.fs-10 {
    font-size: 0.80rem!important;
}

.fs-11 {
    font-size: 0.75rem!important;
}

.fs-12 {
    font-size: 0.70rem!important;
}

.fs-13 {
    font-size: 0.65rem!important;
}

.fs-14 {
    font-size: 0.60rem!important;
}
